@media (max-width: 625px)
{
    .title {
        font-size: 40px !important;
    }

    .sub-title {
        font-size: 17px !important;
    }
}

@media (max-width: 400px)
{
    .title {
        font-size: 35px !important;
    }

    .sub-title {
        font-size: 15px !important;
    }
}